@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* 16px × 62.5% = 10px */
  font-size: 62.5%;
}

body {
  /* 10px × 1.6 = 16px */
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  background-color: #f7f2ed;
}

table {
  border-collapse: collapse;
}

button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}
/* color */
.offering {
  max-width: 1800px;
  margin: auto;
  padding: 0 2rem;
}
.offering__title {
  margin-top: 4rem;
  font-size: 4.5rem;
  font-weight: 600;
  text-align: center;
}
.offering__list {
  width: 100%;
  margin: 5.5rem 0;
  text-align: center;
  font-size: 0;
}
.offering__item {
  display: inline-block;
  width: 31.8%;
  margin-left: 2.3%;
  margin-bottom: 9rem;
}
.offering__item:first-child {
  margin-left: 0;
}
.offering__info {
  position: relative;
  width: 94%;
  margin: -2.5rem auto 0;
  padding: 1.5rem 0 0;
  background-color: #fff;
}
.offering__info h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.4rem;
}
.offering__info > div {
  margin: 2.5rem 1.5rem;
}
.offering__info dl {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  font-size: 1.4rem;
}
.offering__info dl:first-child {
  margin-top: 0;
}
.offering__btn {
  width: 100%;
  padding: 1.5rem 0;
  background-color: #000;
  color: #fff;
  transition: opacity 200ms ease-in;
}
.offering__btn:hover, .offering__btn:focus {
  opacity: 0.7;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  background: #000;
  color: #fff;
  transition: transform 300ms ease-in;
}
.sidebar.active {
  transform: translateX(-100%);
}
.sidebar__btn {
  position: absolute;
  top: 3rem;
  right: 1rem;
  width: 5rem;
  height: 5rem;
  font-size: 4rem;
  border-radius: 50%;
  background: #000;
  color: #fff;
}

.building__title {
  margin-top: 7rem;
  padding: 0 1rem;
  font-size: 6rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
}
.building__info {
  margin: 7rem 3rem 0;
}
.building__info dl {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #fff;
}
.building__info dl:first-child {
  border-top: 1px solid #fff;
}
.building__desc {
  margin: 4.5rem 3rem 0;
  font-size: 2rem;
  line-height: 1.2;
}
.building__table {
  width: calc(100% - 6rem);
  margin: 5rem auto 3rem;
  font-weight: 200;
  font-size: 1.6rem;
}
.building__table thead {
  font-size: 2rem;
}
.building__table th,
.building__table td {
  padding: 1.2rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  line-height: 1.2;
}

@media screen and (max-width: 768px) {
  .offering__item {
    width: 48%;
    margin-left: 3%;
    margin-bottom: 9rem;
  }
  .offering__item:nth-child(odd) {
    margin-left: 0;
  }

  .sidebar {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .offering__item {
    width: 100%;
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
